<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                <a class="nav-link" routerLink="/home"
                    ><div class="sb-nav-link-icon"><fa-icon [icon]="fatachometer"></fa-icon></div>
                    Home</a
                >
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link collapsed" routerLink="/clientes" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><fa-icon [icon]="facolumns"></fa-icon></div>
                    Clientes
                    <div class="sb-sidenav-collapse-arrow"><fa-icon [icon]="faangledown"></fa-icon></div>
                </a>

                <a class="nav-link collapsed" routerLink="/servico-prestado" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                ><div class="sb-nav-link-icon"><fa-icon [icon]="faMoneyBill"></fa-icon></div>
                Serviços Prestados
                <div class="sb-sidenav-collapse-arrow"><fa-icon [icon]="faangledown"></fa-icon></div>
            </a>
            <a class="nav-link collapsed" routerLink="/login" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
            ><div class="sb-nav-link-icon"><fa-icon [icon]="faPowerOff"></fa-icon></div>
            Sair
            <div class="sb-sidenav-collapse-arrow"><fa-icon [icon]="faangledown"></fa-icon></div>
        </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logado:</div>
            {{usuario}}
        </div>
    </nav>
</div>
